#products {
    .screen-sm({
        display: flex;
        flex-wrap: wrap;
        >div {
            display: flex;
            .card {
                display: flex;
                .img {
                    display: flex;
                    flex: 1 1 auto;
                }
                .card-body {
                    flex: 0;
                }
            }
        }
    });
    img {
        max-width: 100%;
    }
}
