html {
    position: relative;
    min-height: 100%;
    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #f5f5f5;
            padding: 10px;
        }
    }
}
