@import (reference) 'helpers';
@import (reference) 'variables';
@import 'footer';
@import 'header';
@import 'login';
@import 'webshop/products';
@import 'tictactoe/index';
@import 'whatstudy/index';

body {
    margin-top: 55px; //navbar height
}

td {
    border: thin solid grey;
    padding: 5px;
}

.main {
    padding-top: 10px;
    &.home {
        h1 {
            text-align: center;
        }
    }
}

.userData td {
    border: none;
}

#form {
    input[type="email"], select, input[type="password"], input[type="text"], input[type="file"], input[type="number"] {
        outline: none;
        padding: 10px;
        display: block;
        width:300px;
        border-radius: 3px;
        border: 1px solid #eee;
        margin: 20px auto;
    }

    input[type="submit"] {
        padding: 10px;
        color: #fff;
        background: #0098cb;
        width:300px;
        margin: 20px auto;
        margin-top: 0;
        border: 0;
        border-radius: 3px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background: #00b8eb;
    }
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
