#tictactoe {
    #board {
        table {
            td {
                text-align: center;
            }
            button {
                width: 100px;
                height: 100px;
                font-size: 20px;
            }
        }
    }
    #newscreen {
        border:solid 2px;
        background-color: #b0c4de;
    }
    #winner{
        border:solid 2px;
        background-color: lightgrey;
        color:red;
        font-size:18px;
        text-align:left;
        padding:15px;
        filter:alpha(opacity=75); /* For IE8 and earlier */
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        behavior: url(border-radius.htc);
    }
}
